Connected Services/ServiceReference1/ProvinceCityImp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProvinceCityImp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59569/ProvinceCityImp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59569/ProvinceCityImp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59569/ProvinceCityImp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/REST_DuLich" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProvinceCityImp_GetProvinceCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceCities" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_GetProvinceCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_CreateProvinceCity_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProvinceCity" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_CreateProvinceCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProvinceCityResponse" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_UpdateProvinceCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProvinceCity" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_UpdateProvinceCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProvinceCityResponse" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_DeleteProvinceCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProvinceCity" />
  </wsdl:message>
  <wsdl:message name="IProvinceCityImp_DeleteProvinceCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProvinceCityResponse" />
  </wsdl:message>
  <wsdl:portType name="IProvinceCityImp">
    <wsdl:operation name="GetProvinceCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvinceCityImp/GetProvinceCities" message="tns:IProvinceCityImp_GetProvinceCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvinceCityImp/GetProvinceCitiesResponse" message="tns:IProvinceCityImp_GetProvinceCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProvinceCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvinceCityImp/CreateProvinceCity" message="tns:IProvinceCityImp_CreateProvinceCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvinceCityImp/CreateProvinceCityResponse" message="tns:IProvinceCityImp_CreateProvinceCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProvinceCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvinceCityImp/UpdateProvinceCity" message="tns:IProvinceCityImp_UpdateProvinceCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvinceCityImp/UpdateProvinceCityResponse" message="tns:IProvinceCityImp_UpdateProvinceCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProvinceCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvinceCityImp/DeleteProvinceCity" message="tns:IProvinceCityImp_DeleteProvinceCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvinceCityImp/DeleteProvinceCityResponse" message="tns:IProvinceCityImp_DeleteProvinceCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProvinceCityImp" type="tns:IProvinceCityImp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProvinceCities">
      <soap:operation soapAction="http://tempuri.org/IProvinceCityImp/GetProvinceCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProvinceCity">
      <soap:operation soapAction="http://tempuri.org/IProvinceCityImp/CreateProvinceCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProvinceCity">
      <soap:operation soapAction="http://tempuri.org/IProvinceCityImp/UpdateProvinceCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProvinceCity">
      <soap:operation soapAction="http://tempuri.org/IProvinceCityImp/DeleteProvinceCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvinceCityImp">
    <wsdl:port name="BasicHttpBinding_IProvinceCityImp" binding="tns:BasicHttpBinding_IProvinceCityImp">
      <soap:address location="http://localhost:59569/ProvinceCityImp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>