Connected Services/ServiceReference1/ProvinceCityImp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/REST_DuLich" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/REST_DuLich" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProvinceCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProvinceCity" nillable="true" type="tns:ProvinceCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvinceCity" nillable="true" type="tns:ArrayOfProvinceCity" />
  <xs:complexType name="ProvinceCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaTinh" type="xs:int" />
      <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenTp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tours" nillable="true" type="tns:ArrayOfTour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvinceCity" nillable="true" type="tns:ProvinceCity" />
  <xs:complexType name="ArrayOfTour">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tour" nillable="true" type="tns:Tour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTour" nillable="true" type="tns:ArrayOfTour" />
  <xs:complexType name="Tour">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonViTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HinhAnh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KhuyenMai" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaTinh" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaTour" type="xs:int" />
      <xs:element minOccurs="0" name="NgayKetThuc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayKhoiHanh" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoiDung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceCity" nillable="true" type="tns:ProvinceCity" />
      <xs:element minOccurs="0" name="SoCho" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SoDem" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SoNgay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TenTour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TourBookings" nillable="true" type="tns:ArrayOfTourBooking" />
      <xs:element minOccurs="0" name="TourHot" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tour" nillable="true" type="tns:Tour" />
  <xs:complexType name="ArrayOfTourBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TourBooking" nillable="true" type="tns:TourBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTourBooking" nillable="true" type="tns:ArrayOfTourBooking" />
  <xs:complexType name="TourBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="Dongia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaDatTour" type="xs:int" />
      <xs:element minOccurs="0" name="MaKH" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaTour" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ThanhTien" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tour" nillable="true" type="tns:Tour" />
      <xs:element minOccurs="0" name="TrangThai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TourBooking" nillable="true" type="tns:TourBooking" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dienthoai" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaKH" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TenDangNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenKH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TourBookings" nillable="true" type="tns:ArrayOfTourBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>